{% extends "base.html" %}

{% block content %}
    <h3>Add New Device</h3>
    <form action="" method="post" name="new_device">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            <label for="device-name">{{ form.name.label }}</label>
            {{ form.name(class="form-control", id="device-name") }}
        </div>
        
        <div class="form-group">
            <label for="device-type">{{ form.type.label }}</label>
            {{ form.type(class="form-control", id="device-type") }}
        </div>
        
        <div class="form-group">
            <label for="asset-tag">{{ form.tag.label }}</label>
            {{ form.tag(class="form-control", id="asset-tag") }}
        </div>
        
        <input type="submit" class="btn btn-success" value="Add Device">
        <a href="/devices" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
