{% extends "base.html" %}

{% block content %}
    <h2>Welcome, {{ current_user.id }}!</h2>
    <hr>
    
    <h5>The following devices are currently available:</h5>
    {% for device in devices %}
        {% if device.user == "Available" %}
            <p><a href="/devices/{{ device.id }}">{{ device.name }}</a> - {{ device.type }} - 
            {% if device.tag != "" %}{{ device.tag }}{% else %}Tag Unknown{% endif %}
            </p>
        {% endif %}
    {% endfor %}
    <hr>
    
    <h5>The following devices are currently reserved:</h5>
    {% for device in devices %}
        {% if device.user != "Available" %}
            <p><a href="/devices/{{ device.id }}">{{ device.name }}</a> - {{ device.type }} - {{ device.tag }} ({{ device.user }})</p>
        {% endif %}
    {% endfor %}
    <hr>
    
    <!-- Admin Panel Button (only visible to admins) -->
    {% if current_user.role == 'admin' %}
    <form action="{{ url_for('admin_panel') }}" method="get">
        <button type="submit" class="btn btn-primary">
            Go to Admin Panel
        </button>
    </form>
    {% endif %}

    <!-- Delete Account Button -->
    <form action="/delete_account" method="post" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
        <button type="submit" class="btn btn-danger">
            Delete Account
        </button>
    </form>

    <!-- Logout Button -->
    <form action="/logout">
        <button type="submit" class="btn btn-secondary">
            Logout
        </button>
    </form>
{% endblock %}
