{% extends "base.html" %}
{% block content %}
	<h3>Add New User</h3>
	<form action="" method="post" name="new_user">
	{{ form.hidden_tag() }}
		<p>Please enter your information below:</p>
		<!-- <p>{{ form.firstname(placeholder="First Name") }}</p> -->
		<!-- <p>{{ form.lastname(placeholder="Last Name") }}</p> -->
		<!-- <p>{{ form.email(placeholder="Email Address") }}</p> -->
		<p>{{ form.username(placeholder="Username") }}</p>
		<p>{{ form.password(placeholder="Password") }}</p>
		<p>{{ form.confirm(placeholder="Confirm Password") }}</p>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		<input type="submit" label="Add User">
			
	</form>
	<form action="/" method="get">
		<input type="submit" value="Cancel">
	</form>
{% endblock %}
